window {
    margin: 0px;
    border: 2px solid @base05@;
    border-radius: 12px;
    background-color: alpha(@base01@, 0.95);
}

#input {
    margin: 5px;
    border: none;
    color: @base06@;
    background-color: alpha(@base02@, 0.80);
    border-radius: 6px;
    padding: 8px;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#text {
    margin: 5px;
    border: none;
    color: @base05@;
}

#entry:nth-child(even) {
    background-color: alpha(@base02@, 0.8);
}

#entry:nth-child(odd) {
    background-color: alpha(@base03@, 0.8);
}

#entry:selected {
    background-color: @base02@;
    border-radius: 6px;
    color: @base06@;
}
