window {
    margin: 0px;
    border: 2px solid @base05@;
    border-radius: 12px;
    background-color: rgba(@base00-rgba@, 0.85);
}

#input {
    margin: 5px;
    border: none;
    color: @base06@;
    background-color: rgba(@base01-rgba@, 0.5);
    border-radius: 6px;
    padding: 8px;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#text {
    margin: 5px;
    border: none;
    color: @base05@;
}

#entry:selected {
    background-color: rgba(@base02-rgba@, 0.7);
    border-radius: 6px;
}

#entry:selected #text {
    color: @base06@;
}
