window#waybar {
    border:        2px solid @base05@;
    border-radius: 12px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
    color:      @base05@;
    background: alpha(@base00@, 0.8);
}

window#waybar.solo {
    background: alpha(@base01@, 0.8);
    border-radius: 12px;
}

#workspaces {
    margin: 0 5px;
    padding: 0 5px;
}

#workspaces button {
    padding:    0 5px;
    color:      alpha(@base06@, 0.4);
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    padding: 5px 5px;
    margin: 5px 5px;
}

#workspaces button.active {
    padding:    0 5px;
    color:      alpha(@base05@, 0.8);
}

#workspaces button.visible {
    color:      @base05@;
}

#workspaces button.urgent {
    color:      @base08@;
}

#tray,
#clock,
#mode,
#battery,
#temperature,
#cpu,
#memory,
#idle_inhibitor,
#backlight,
#custom-notification,
#disk {
    margin:     0px 8px 0px 8px;
    padding: 0 4px;
}

#battery.warning {
   color:       @base0A@;
}

#battery.critical {
    color:      @base08@;
}

#battery.charging {
    color:      @base0B@;
}