Mod+Space  repeat=false { spawn "wofi"; }
Mod+E { spawn "wofi-emoji"; }
Mod+Alt+L { spawn "swaylock"; }

Mod+F { maximize-column; }
Mod+Shift+F { fullscreen-window; }
Mod+Q { close-window; }
Mod+Ctrl+Q { quit skip-confirmation=true; }
Mod+Ctrl+R { spawn "sh" "-c" "systemctl --user restart niri"; }

Mod+Shift+C { screenshot; }
Mod+Alt+C { screenshot-screen; }
Mod+Ctrl+C { screenshot-window; }

Mod+Left { focus-column-left; }
Mod+Right { focus-column-right; }
Mod+Up { focus-window-up; }
Mod+Down { focus-window-down; }

Mod+Ctrl+Up { focus-workspace-up; }
Mod+Ctrl+Down { focus-workspace-down; }

Mod+Shift+Left { move-column-left; }
Mod+Shift+Right { move-column-right; }
Mod+Shift+Up { move-window-up; }
Mod+Shift+Down { move-window-down; }

Mod+Comma { consume-window-into-column; }
Mod+Period { expel-window-from-column; }

Mod+R { switch-preset-column-width; }
Mod+Minus { set-column-width "-10%"; }
Mod+Equal { set-column-width "+10%"; }

Mod+Alt+Left { set-window-height "-10%"; }
Mod+Alt+Right { set-window-height "+10%"; }

Mod+Ctrl+K { spawn "sh" "-c" "~/.config/niri/switch-layout"; }
Mod+Ctrl+Shift+Up { toggle-overview; }

XF86AudioMute { spawn "pamixer" "-t"; }
XF86AudioRaiseVolume { spawn "pamixer" "-i" "5"; }
XF86AudioLowerVolume { spawn "pamixer" "-d" "5"; }
XF86MonBrightnessDown { spawn "brightnessctl" "set" "10%-"; }
XF86MonBrightnessUp { spawn "brightnessctl" "set" "+10%"; }
XF86AudioPrev { spawn "playerctl" "previous"; }
XF86AudioNext { spawn "playerctl" "next"; }
XF86AudioPlay { spawn "playerctl" "play-pause"; }
XF86AudioPause { spawn "playerctl" "play-pause"; }
