@define-color bg rgba(@base00-rgba@, 0.8);
@define-color bg-hover rgba(@base01-rgba@, 0.9);
@define-color text @base05@;
@define-color text-dim rgba(@base04-rgba@, 0.6);
@define-color border @base05@;
@define-color red @base08@;
@define-color yellow @base0A@;
@define-color green @base0B@;

.notification-row {
  outline: none;
}

.notification-row:focus,
.notification-row:hover {
  background: @bg-hover;
}

.notification {
  border-radius: 12px;
  margin: 8px;
  padding: 0;
  background: @bg;
  border: 2px solid @border;
}

.critical {
  border: 2px solid @red;
}

.notification-content {
  background: transparent;
  padding: 10px;
  border-radius: 12px;
}

.close-button {
  background: transparent;
  color: @text;
  text-shadow: none;
  padding: 0;
  border-radius: 100%;
  margin-top: 10px;
  margin-right: 10px;
  box-shadow: none;
  border: none;
  min-width: 24px;
  min-height: 24px;
}

.close-button:hover {
  box-shadow: none;
  background: @bg-hover;
  transition: all 0.15s ease-in-out;
  border: none;
}

.notification-default-action,
.notification-action {
  padding: 4px;
  margin: 0;
  box-shadow: none;
  background: @bg;
  border: none;
  color: @text;
  transition: all 200ms ease-in-out;
}

.notification-default-action:hover,
.notification-action:hover {
  background: @bg-hover;
}

.notification-default-action {
  border-radius: 12px;
  margin: 4px;
}

.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-bottom: 0;
}

.notification-action {
  border-radius: 0px;
  margin: 0 4px;
  border-top: 1px solid @border;
}

.notification-action:first-child {
  border-bottom-left-radius: 12px;
}

.notification-action:last-child {
  border-bottom-right-radius: 12px;
  margin-bottom: 4px;
}

.summary {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: @text;
  text-shadow: none;
}

.time {
  font-size: 12px;
  font-weight: bold;
  background: transparent;
  color: @text;
  text-shadow: none;
  margin-right: 18px;
}

.body {
  font-size: 14px;
  font-weight: normal;
  background: transparent;
  color: @text;
  text-shadow: none;
}

.control-center {
  background: @bg;
  border: 2px solid @border;
  border-radius: 12px;
  margin: 8px;
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  opacity: 0.5;
}

.floating-notifications {
  background: transparent;
}

.blank-window {
  background: rgba(@base00-rgba@, 0.25);
}

.widget-title {
  margin: 8px;
  font-size: 16px;
  font-weight: bold;
  color: @text;
}

.widget-title > button {
  font-size: initial;
  color: @text;
  text-shadow: none;
  background: @bg;
  border: 2px solid @border;
  box-shadow: none;
  border-radius: 12px;
}

.widget-title > button:hover {
  background: @bg-hover;
}

.widget-dnd {
  margin: 8px;
  font-size: 16px;
  color: @text;
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 12px;
  background: @bg;
  border: 2px solid @border;
  box-shadow: none;
}

.widget-dnd > switch:checked {
  background: @bg-hover;
}

.widget-dnd > switch slider {
  background: @border;
  border-radius: 12px;
}